.container{
    background-color: rgb(45, 45, 45);
    border-color: aliceblue;
    border: 2px;
    color: white;
    width: 450px;
    padding: 20px;
    border-radius: 25px;
    height: 100px;
    box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.25);
}