.bm-menu {
    background: #242424; 
    padding: 2em;
    font-size: 1.15em;
    width: 300px;
    overflow-y: hidden; 
    max-height: 100vh;
}

.bm-item {
    display: block;
    padding: 10px;
    color: #ffffff; 
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    overflow-x: hidden; 
}

.bm-item:hover {
    color: #ffffff; 
}

.bm-burger-bars {
    background: #00ff00; 
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 20px;
    top: 20px;
}


#page-wrap {
    margin-left: 250px; 
    transition: margin 0.3s ease;
    
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .bm-menu::-webkit-scrollbar {
        width: 0; 
    }
}
