body {
  margin: 0;
  background-color: #191919; /* Dark gray background color */
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: left;
}

.title{
  margin-left: 100px;
  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: 800;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.event-container{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 90px;
}
.event-container > * {
  margin-right: 15px;   
}
.event-container::-webkit-scrollbar {
  display: none;
}

.title-2{
  margin-left: 100px;
  margin-top: 30px;
  font-size: 1.5rem;
  color: #dadada;
}