body {
  margin: 0;
  background-color: #191919; /* Dark gray background color */
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.App {
  text-align: left;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.event-container{
  display: flex;
  justify-content: space-between;
  
  margin-top: 100px;
  margin-left: 90px;
}