/* sidebar.css */

/* Reset default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidebar Styles */
.bm-menu {
    background: #242424; 
    padding: 2em;
    font-size: 1.15em;
    width: 200px;
}

.bm-item {
    display: block;
    padding: 10px;
    color: #00ff00; 
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.bm-item:hover {
    color: #ffffff; 
}

.bm-burger-bars {
    background: #00ff00; /* Change the color of the bars */
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 20px;
    top: 20px;
}


#page-wrap {
    margin-left: 250px; 
    transition: margin 0.3s ease;
}


.menu-open #page-wrap {
    margin-left: 0;
}
